.eigth-section {
  height: 120vh;
  overflow: hidden;
  background-color: var(--color-black);
}

.eigth-section-first-img {
  height: 30vh;
  position: relative;
  right: -100%;
  bottom: -34%;
  z-index: 1;
}
.eigth-section-second-img {
  height: 30vh;
  position: relative;
  right: -100%;
  bottom: -10%;
  z-index: 0;
}

.eigth-section-text {
  color: var(--color-white);
  width: 35vw;
  text-align: center;
  margin: auto;
  opacity: 0;
}
