.eigth-section {
  padding-top: 190px;
  padding-bottom: 430px;
  background-color: var(--color-black);
}
.eigth-section-first-img {
  height: 30vh;
}
.eigth-section-second-img {
  height: 30vh;
}

.eigth-section-text {
  color: var(--color-white);
  width: 35vw;
  text-align: center;
  margin: auto;
}
.eigth-section-img {
  display: flex;
}
