.fifth-section {
  position: relative;
  height: 300vh;
  background-color: var(--color-black);
  overflow: hidden;
}

#element-4 {
  width: 120vw;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
}
#element-5 {
  width: 120vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#element-6 {
  width: 120vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#element-8 {
  width: 120vw;
  position: absolute;
  bottom: 0;
  left: -120;
  right: 0;
  z-index: 4;
}
