.fifth-section {
  position: relative;
  height: 300vh;
}

#element-4 {
  width: 120vw;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
}
#element-5 {
  width: 120vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#element-6 {
  width: 120vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
#element-7 {
  width: 120vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
#element-8 {
  width: 120vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
}
