// .fifth-section {
//   position: relative;
//   height: 100vh;
// }

// #element-4 {
//   width: 100vw;
//   position: absolute;
//   z-index: 0;
// }
// #element-5 {
//   width: 100vw;
//   position: absolute;
//   z-index: 1;
//   top: -250vh;
// }

// #element-6 {
//   width: 100vw;
//   position: absolute;
//   z-index: 2;
//   top: -560vh;
// }
// #element-7 {
//   width: 100vw;
//   position: absolute;
//   z-index: 3;
//   top: -870vh;
// }
// #element-8 {
//   width: 100vw;
//   position: absolute;
//   z-index: 4;
//   top: -1179vh;
// }
