footer {
  color: var(--color-white);
  background-color: var(--color-black);
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--color-white);
}

.footer-credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.footer-credits-text {
  font-family: raleway;
  font-weight: 400;
  font-size: 11px;
}

.footer-dargaud {
  height: 3vh;
  margin-bottom: 12px;
}

.footer-link {
  background: none;
  border: none;
}
.footer-link-icon {
  height: 3vh;
}
.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
