.fourth-section {
  height: 120vh;
  margin-top: 30vh;
  overflow: hidden;
}
.fourth-section-first-img {
  height: 40vh;
  position: relative;
  right: -100%;
  bottom: -30%;
  z-index: 1;
}

.fourth-section-second-img {
  height: 30vh;
  position: relative;
  right: -100%;
  bottom: -10%;
  z-index: 0;
}

.fourth-section-text {
  width: 35vw;
  text-align: center;
  margin: auto;
  opacity: 0;
}
