.fourth-section {
  height: 120vh;
  margin-top: 30vh;
}
.fourth-section-first-img {
  height: 40vh;
  margin-top: 20vh;
  margin-left: -20vw;
  margin-bottom: -30vh;
}

.fourth-section-second-img {
  height: 30vh;
  margin-left: -75vw;
  margin-top: 10vh;
}

.fourth-section-text {
  width: 35vw;
  text-align: center;
  margin: auto;
  opacity: 0;
}

.fourth-section-wrapper ~ .fourth-section-wrapper {
  justify-content: end;
}
