.fourth-section {
  padding-top: 190px;
  padding-bottom: 430px;
}
.fourth-section-first-img {
  height: 50vh;
}

.fourth-section-second-img {
  height: 20vh;
}

.fourth-section-text {
  width: 35vw;
  text-align: center;
  margin: auto;
}
.fourth-section-img {
  display: flex;
}
