.second-section {
  height: 120vh;

  overflow: hidden;
}
.second-section-first-img {
  height: 40vh;
  position: relative;
  left: -60%;
  bottom: -5%;
}

.second-section-second-img {
  height: 60vh;
  position: relative;
  left: -20%;
  bottom: -30%;
  margin-top: -210px;
}

.second-section-text {
  width: 35vw;
  text-align: center;
  margin: auto;
  opacity: 0;
}
.second-section-wrapper ~ .second-section-wrapper {
  justify-content: end;
}
