.second-section {
  height: 120vh;
  margin-top: 30vh;
}
.second-section-first-img {
  height: 40vh;
  margin-left: -20vw;
  margin-bottom: -30vh;
}

.second-section-second-img {
  height: 60vh;
  margin-left: -20vw;
  margin-bottom: -30vh;
}

.second-section-text {
  width: 35vw;
  text-align: center;
  margin: auto;
  opacity: 0;
}
.second-section-wrapper .second-section-wrapper ~ .second-section-wrapper {
  justify-content: end;
}

.second-section-wrapper {
  display: flex;
}
