.sixth-section {
  padding-top: 190px;
  padding-bottom: 430px;
  background-color: var(--color-black);
}
.sixth-section-first-img {
  height: 40vh;
}

.sixth-section-text {
  color: var(--color-white);
  width: 35vw;
  text-align: center;
  margin: auto;
}
.sixth-section-img {
  display: flex;
}
