.sixth-section {
  height: 120vh;

  background-color: var(--color-black);
}
.sixth-section-first-img {
  height: 40vh;

  margin-left: -30vw;
}

.sixth-section-text {
  color: var(--color-white);
  width: 35vw;
  text-align: center;
  margin: auto;
  margin-top: 30vh;
  opacity: 0;
}
.sixth-section-wrapper ~ .sixth-section-wrapper {
  justify-content: end;
}
