.sixth-section {
  height: 120vh;
  background-color: var(--color-black);
  overflow: hidden;
}

.sixth-section-text {
  color: var(--color-white);
  width: 35vw;
  text-align: center;
  margin: auto;
  margin-top: 30vh;
  margin-bottom: 40px;
  opacity: 0;
}
.sixth-section-first-img {
  height: 35vh;
  position: relative;
  left: -30%;
}
