.tenth-section {
  height: 120vh;
  overflow: hidden;
  background-color: var(--color-black);
}
.tenth-section-first-img {
  height: 30vh;
  position: relative;
  left: -75%;
  bottom: -5%;
}

.tenth-section-text {
  color: var(--color-white);
  width: 36vw;
  text-align: center;
  margin: auto;
  opacity: 0;
}

.tenth-section-spacing {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 250px;
}
