.tenth-section {
  padding-top: 190px;
  padding-bottom: 430px;
  background-color: var(--color-black);
}
.tenth-section-first-img {
  height: 30vh;
}

.tenth-section-first-text {
  color: var(--color-white);
  width: 60vw;
  text-align: center;
  margin: auto;
}
.tenth-section-second-text {
  color: var(--color-white);
  text-align: center;
  margin: auto;
}
.tenth-section-img {
  display: flex;
}
