// .third-section img {
//   position: absolute;
//   top: 0;
//   left: 0;
// }
// .third-section-background {
//   z-index: 1;
// }
// .third-section-second-img {
//   z-index: 2;
// }
// .third-section-front-img {
//   z-index: 3;
// }

.third-section {
  overflow: hidden;
}
