.third-section {
  overflow: hidden;
  position: relative;
  height: 200vh;
}

#element-1 {
  width: 120vw;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
}
#element-2 {
  width: 110vw;
  position: absolute;
  top: 20;
  left: -50;
  right: 0;
  z-index: 1;
}

#element-3 {
  width: 110vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
