* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

h2 {
  font-family: raleway;
  font-weight: 400;
  font-size: 48;
}
h3 {
  font-family: raleway;
  font-weight: 400;
  font-size: 36;
}
p {
  font-family: raleway;
  font-weight: 400;
  font-size: 20;
}
.footer-credits {
  font-family: raleway;
  font-weight: 400;
  font-size: 11;
}
