html {
  --color-white-60: rgba(255, 255, 255, 0.6);
  --color-white: #ffffff;
  --color-black-30: rgba(0, 0, 0, 0.3);
  --color-black: #000000;
  background-color: var(--color-white);
  font-family: raleway;
  font-weight: 400;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 60px;
  border: 1px solid var(--color-white);
  background: var(--color-black-30);
  transition: transform 0.5s ease;
}

a:hover {
  transform: scale(1.2);
}

button {
  font-size: 20px;
  background-color: var(--color-white-60);
  color: var(--color-black-30);
  padding: 10px 20px;
  border-radius: 60px;
  border: 1px solid var(--color-black-30);
  transition: transform 0.5s ease;
}
button:hover {
  transform: scale(1.2);
}

img,
video {
  display: block;
}

h2 {
  font-weight: 400;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h3 {
  font-weight: 400;
  font-size: 36px;
}
p {
  font-weight: 400;
  font-size: 20px;
}
